<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>please input or select following options to add employee to NN company</h2>
    <form action="/employee/add_employee/" method="post">
        <p>
            <label for="username">username: </label>&nbsp;&nbsp;
            <input id="username" name="username" type="text"  placeholder="Brush Lee"/>
        </p>
        <p>
            <label for="password">password: </label>&nbsp;&nbsp;
            <input id="password" name="password" type="password"  placeholder="***"/>
        </p>
        <p>
            <label for="age">age: </label>&nbsp;&nbsp;
            <input id="age" name="age" type="text"  placeholder="27"/>
        </p>
        <p>
            <label for="gender">gender: </label>&nbsp;&nbsp;
            Male: <input type="radio" name="gender" value="1">&nbsp;
            FeMale: <input type="radio" name="gender" value="2">&nbsp;
            two-in-one: <input type="radio" name="gender" value="3">
        </p>
        <p>
            <label for="phone_number">number: </label>&nbsp;&nbsp;
            <input id="phone_number" name="phone_number" type="text"  placeholder="137******68"/>
        </p>
        <p>
            <label for="email">email: </label>&nbsp;&nbsp;
            <input id="email" name="email" type="text"  placeholder="lovline@huawei.com"/>
        </p>
        <p>
            <label for="interests">interests: </label>&nbsp;&nbsp;
            coding: <input type="checkbox" name="interests" value="1">&nbsp;
            reading: <input type="checkbox" name="interests" value="2">&nbsp;
            sleeping: <input type="checkbox" name="interests" value="3">&nbsp;
        </p>
        <p>
            <label for="address">address: </label>&nbsp;&nbsp;
            <input id="address" name="address" type="text"  placeholder="Xian"/>
        </p>
        <p>
            <label for="school">school: </label>&nbsp;&nbsp;
            <input id="school" name="school" type="text"  placeholder="XiDian"/>
        </p>
        <p>
            <label for="department">department: </label>&nbsp;&nbsp;
            <select name="department">
                <option value="Cloud Core">Cloud Core</option>
                <option value="2012 laboratory">2012 laboratory</option>
                <option value="Terminal">Terminal</option>
                <option value="NotNNComany">NotNNComany</option>
            </select>
        </p>
        <p>
            <label for="level">level: </label>&nbsp;&nbsp;
            <select name="level">
                <option value="13">Level 13</option>
                <option value="14">Level 14</option>
                <option value="15">Level 15</option>
                <option value="16">Level 16</option>
                <option value="17">Level 17</option>
                <option value="18">Level 18</option>
            </select>
        </p>
        <p>
            <label for="deposit">deposit: </label>&nbsp;&nbsp;
            <input id="deposit" name="deposit" type="text"  placeholder="700" value="700"/>
        </p>
        <p>
            <span>confirm add:</span>&nbsp;&nbsp;
            <input type="submit" value="add">
            <a target="_parent" href="/employee/manager_employee"><h4>Cancel</h4></a>
        </p>
    </form>
</body>
</html>
