<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Service</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>welcome to Bank Service System !</h2>
    <h5><span style="color: red">{{ error_msg }}</span></h5>
    <form action="/employee/bank_service/" method="post">
        <p>
            hahha
        </p>
    </form>
</body>
</html>