<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detial</title>
</head>
<body>
    <h1>Employee {{ employee_detail.username }}'s Detail Information</h1>
    <a target="_parent" href="/employee/manager_employee"><h4>return manager page</h4></a>
    <h3>welcome {{ employee_detail.username }}</h3>
    <h4>age&nbsp;=&nbsp; {{ employee_detail.age }}</h4>
    <h4>gender&nbsp;=&nbsp; {{ employee_detail.gender }}</h4>
    <h4>phone_number&nbsp;=&nbsp; {{ employee_detail.phone_number }}</h4>
    <h4>email&nbsp;=&nbsp; {{ employee_detail.email }}</h4>
    <h4>interests&nbsp;=&nbsp; {{ employee_detail.interests }}</h4>
    <h4>address&nbsp;=&nbsp; {{ employee_detail.address }}</h4>
    <h4>school&nbsp;=&nbsp; {{ employee_detail.school }}</h4>
    <h4>department&nbsp;=&nbsp; {{ employee_detail.department }}</h4>
    <h4>employment_date&nbsp;=&nbsp; {{ employee_detail.employment_date }}</h4>
</body>
</html>