<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h3> you have succeed login ! </h3>
    <h4> please select following features. </h4>
    <form action="/employee/index/" method="post">
        <p>
            <a target="_parent" href="/employee/manager_employee"><h5>&nbsp;&nbsp;No 1. Manager employee info</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/bank_service"><h5>&nbsp;&nbsp;No 2. Enter Love_Bank System</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/"><h5>&nbsp;&nbsp;No X. TO DO</h5></a>
        </p>
        <p>
            --------------------------------------------------
        </p>
        <p>
            <a target="_parent" href="/employee/logout"><h4>log out</h4></a>
        </p>
    </form>
</body>
</html>