<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h3> you have succeed login ! &nbsp;&nbsp;&nbsp;&nbsp;<a target="_parent" href="/employee/logout">log out</a></h3>
    <h4> please select following features. </h4>
    <form action="/employee/index/" method="post">
        <p>
            --------------------------------------------------
        </p>
        <p>
            <a target="_parent" href="/employee/manager_employee"><h5>&nbsp;&nbsp;No 1. Manager employee info</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/bank_service_login"><h5>&nbsp;&nbsp;No 2. Enter Love_Bank System</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/credit_card"><h5>&nbsp;&nbsp;No 3. Credit Card </h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/shop_store"><h5>&nbsp;&nbsp;No 4. Shop Store System</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/note"><h5>&nbsp;&nbsp;No 5. Record Note</h5></a>
        </p>
        <p>
            <a target="_parent" href="/employee/"><h5>&nbsp;&nbsp;No X. TO DO</h5></a>
        </p>
        <p>
            --------------------------------------------------
        </p>

    </form>
</body>
</html>