<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Bank Service</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>please input or select following options to add employee to NN company</h2>
    <form action="/employee/personal_bank_service/" method="post">
        <h2>hahahah</h2>
    </form>
</body>
</html>