<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Store Service</title>
    <link rel="stylesheet" href="/static/commons.css">
    <style>
        label{
            width:80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h2>welcome to Online Shop Store</h2>
    <h5><span style="color: red">{{ error_msg }}</span></h5>
    <form action="/employee/shop_store/" method="post">
        <p>
            <span>confirm operation:</span>&nbsp;&nbsp;
            <input type="submit" value="operation">
            <a target="_parent" href="/employee/index"><h4>Cancel</h4></a>
        </p>
    </form>
</body>
</html>
